$text-color: #fff;
$primary-color: #2196f3;

@mixin list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@mixin list {
    list-style-type: none;
    text-align: center;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #ccc;
    margin-bottom: 10px;
    flex: 1 1 33.3%;
    transition: bottom ease 0.5s;
    cursor: pointer;
    color: $primary-color;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.container {
    max-width: 1170px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    background-color: $primary-color;
    box-shadow: 3px 3px 3px 2px #ccc;
    margin-bottom: 15px;

    &-title {
        color: $text-color;
        margin: 0;
    }

    &-nav {
        display: flex;
        list-style-type: none;
        margin-bottom: 0;
        &-item__link {
            text-decoration: none;
            color: $text-color;
        }
    }

    &-nav-item + &-nav-item {
        margin-left: 30px;
    }
}

.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50% -50%);
    font-size: 24;
    color: $primary-color;
}

.ant-pagination-options {
    display: none !important;
}
.favorites {
    &-container {
        width: 100%;
        
    }
    &-list {
        &__item {
            @include list;
            padding: 10px;
        }
    }
}

.list {
    &-container {
        width: 100%;
    }
    &-block {
        @include list-container;
        &__item {
            @include list;
            &:hover {
                background-color: #7dc4fd;
            }
            a:hover {
                color: #fff;

            }
        }
    }
}

.films {
    &-block {
        list-style-type: none;
    }
}
.char{
    &-info{
        width: 30rem;
    }
    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.ant-pagination {
    text-align: center;
}
